<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<div class="fluid-container">
  <div class="col-xs-7">
    <%= month_calendar attribute: :time, events: @events do |date, time_slots| %>
      <%= date.strftime("%m/%d") %>

      <% time_slots.each do |event| %>
        <div>
          <%= link_to event.event_name, event %>
        </div>
      <% end %>
    <% end %>
  </div><!--col-xs-7-->
  <div class="col-xs-5">
    <br />
    <div class="panel panel-default" >
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Location</th>
            <th>Time</th>
            <th>Event name</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @events.each do |event| %>
            <tr>
              <td><%= event.location %></td>
              <td><%= event.time.strftime("%I:%M %p") %></td>
              <td><%= event.event_name %></td>
              <td><%= link_to 'Show', event %></td>
              <td><%= link_to 'Edit', edit_event_path(event) %></td>
              <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div><!--panel-->
    <br />

    <%= render 'form' %>

  </div><!--col-xs-5-->
</div><!--container-->

